### Import Libraries

In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (0.2.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pytz>=2022.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2022.6)
Requirement already satisfied: cryptography>=3.3.2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (38.0.3)
Requirement already satisfied: frozendict>=2.3.4 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2.3.4)
Requirement already satisfied: lxml>=4.9.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=1.3.0 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.5.2)
Requirement already satisfied: soupsieve>1.2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: pycparser in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
#import pandas_datareader as web
from pandas_datareader import data as pdr
import yfinance as yf

In [3]:
crypto_currency = 'BTC'
against_currency = 'USD'

In [4]:
start_date = dt.datetime(2020,1,1)
end_date = dt.datetime.now()

### Reading from yahoo finance (workaround)

In [12]:
yf.pdr_override()
data = pdr.get_data_yahoo('BTC', start='2016-1-1')

[*********************100%***********************]  1 of 1 completed

### Check DF

In [13]:
data.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-01 00:00:00-04:00,100.000000,100.000000,100.000000,100.000000,100.000000,0
2020-10-02 00:00:00-04:00,100.000000,100.000000,100.000000,100.000000,100.000000,0
2020-10-05 00:00:00-04:00,100.029999,100.040001,99.995003,99.995003,99.995003,10725
2020-10-06 00:00:00-04:00,100.010002,100.029999,100.010002,100.029999,100.029999,10080
2020-10-07 00:00:00-04:00,99.949997,99.959999,99.919998,99.919998,99.919998,6350

In [124]:
### Summary stats of DF + Data types

In [14]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,96.513056,96.533258,96.489107,96.509928,96.509928,3676.078125
std,3.506901,3.495914,3.511459,3.502112,3.502112,27508.296214
min,88.609001,88.609001,88.609001,88.609001,88.609001,0.000000
25%,93.308748,93.308748,93.308748,93.308748,93.308748,4.000000
50%,98.568298,98.583748,98.546497,98.567501,98.567501,111.000000
75%,99.396149,99.426174,99.370626,99.391674,99.391674,877.000000
max,100.889999,100.889999,100.154999,100.154999,100.154999,356863.000000

In [15]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

### Reindexing 
Date to feature, from index and adding typical incremental index

In [16]:
data.reset_index(inplace=True)
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-10-01 00:00:00-04:00,100.000000,100.000000,100.000000,100.000000,100.000000,0
1,2020-10-02 00:00:00-04:00,100.000000,100.000000,100.000000,100.000000,100.000000,0
2,2020-10-05 00:00:00-04:00,100.029999,100.040001,99.995003,99.995003,99.995003,10725
3,2020-10-06 00:00:00-04:00,100.010002,100.029999,100.010002,100.029999,100.029999,10080
4,2020-10-07 00:00:00-04:00,99.949997,99.959999,99.919998,99.919998,99.919998,6350

### Check whether Volume correlates with close price
If it does, keep, otherwise, drop

In [17]:
print(data['Close'].corr(data['Volume']))

0.04352000210734717

### Drop cols

In [18]:
data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'])
data.head(5)

KeyError: "['Open', 'High', 'Low', 'Adj Close', 'Volume'] not found in axis"