### Import Libraries

In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (0.2.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pytz>=2022.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2022.6)
Requirement already satisfied: cryptography>=3.3.2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (38.0.3)
Requirement already satisfied: frozendict>=2.3.4 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (2.3.4)
Requirement already satisfied: lxml>=4.9.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=1.3.0 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from yfinance) (1.5.2)
Requirement already satisfied: soupsieve>1.2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: pycparser in /Users/abdullah/opt/anaconda3/envs/id2223/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
#import pandas_datareader as web
from pandas_datareader import data as pdr
import yfinance as yf

In [3]:
crypto_currency = 'BTC'
against_currency = 'USD'

In [4]:
start_date = dt.datetime(2020,1,1)
end_date = dt.datetime.now()

### Reading from yahoo finance (workaround)

In [21]:
yf.pdr_override()
data = pdr.get_data_yahoo('BTC-USD', start='2016-01-01')

[*********************100%***********************]  1 of 1 completed

### Check DF

In [22]:
data.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-01 00:00:00+00:00,430.721008,436.246002,427.515015,434.334015,434.334015,36278900
2016-01-02 00:00:00+00:00,434.622009,436.062012,431.869995,433.437988,433.437988,30096600
2016-01-03 00:00:00+00:00,433.578003,433.743011,424.705994,430.010986,430.010986,39633800
2016-01-04 00:00:00+00:00,430.061005,434.516998,429.084015,433.091003,433.091003,38477500
2016-01-05 00:00:00+00:00,433.069000,434.182007,429.675995,431.959991,431.959991,34522600

In [124]:
### Summary stats of DF + Data types

In [24]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2574.000000,2574.000000,2574.000000,2574.000000,2574.000000,2.574000e+03
mean,15191.489319,15573.934078,14765.076896,15197.739939,15197.739939,1.934687e+10
std,16559.622101,16983.941852,16066.981444,16553.664343,16553.664343,2.030322e+10
min,365.072998,374.950012,354.914001,364.330994,364.330994,2.851400e+07
25%,3678.887878,3811.432556,3638.055603,3683.971436,3683.971436,2.315120e+09
50%,8704.911133,8879.565918,8472.953613,8712.442383,8712.442383,1.585711e+10
75%,19970.285645,20347.246094,19581.548828,19982.673828,19982.673828,3.095849e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

In [25]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

### Reindexing 
Date to feature, from index and adding typical incremental index

In [26]:
data.reset_index(inplace=True)
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-01-01 00:00:00+00:00,430.721008,436.246002,427.515015,434.334015,434.334015,36278900
1,2016-01-02 00:00:00+00:00,434.622009,436.062012,431.869995,433.437988,433.437988,30096600
2,2016-01-03 00:00:00+00:00,433.578003,433.743011,424.705994,430.010986,430.010986,39633800
3,2016-01-04 00:00:00+00:00,430.061005,434.516998,429.084015,433.091003,433.091003,38477500
4,2016-01-05 00:00:00+00:00,433.069000,434.182007,429.675995,431.959991,431.959991,34522600

### Check whether Volume correlates with close price
If it does, keep, otherwise, drop

In [27]:
print(data['Close'].corr(data['Volume']))

0.6772970608875201

### Drop cols

In [28]:
data.drop(['Open', 'High', 'Low', 'Adj Close'], inplace=True)
data.head(5)

KeyError: "['Open', 'High', 'Low', 'Adj Close'] not found in axis"